body{
    margin: 0;
    height: 100%;
}

.mikrofon{
    background-image: url("/mikrofon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
header{
    overflow: hidden;
   height: 5em;
   width: 5em;
   transition: width 1s;
   z-index: 9999;
   float: left;
}

header.fullscreen{
   width: 40vh;
   height: 100vh;
    background-color: lightslategray;
    z-index: 9999;
    float: left;
}

body.large-text{
    font-size: 3em;
}

header .menu-button{
    padding: 1em;
    color: #ddd;
}

header .menu-button:hover{
    opacity: 0.5;
    cursor: pointer;
}

header li {
    list-style: none;
    font-size: 2em;
    text-align: center;
}

header ul {
    padding: 0;
}
.fa-times{
    font-size: 2em;
}

.fa-bars{
    font-size: 2em;
}

#modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalconent {
    background-image: url("/javascript-gif.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #ddd;
    transition: height 2s;
}

.fun-button{
    transition: width 5s;
   width: 3em;
    padding: 2em;
    cursor: pointer;
}

.magic{
    background-color: #ddd;
   border: 1px solid red;
    width: 50vw;
    height: 50vh;
   margin: 0 auto;
   
   
    
}

.klockan{
    background-image: url("klocka.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 50em;
    overflow: hidden;
   
}

.klockan h1{
    color: #ddd;
    height: 100vh;
    margin-top: 6em;
    font-family: Helvetica;
    padding: 2em;
}


.fa-chevron-right{
    color: #ddd;
    font-size: 3em;

     
}

.take-blank-space{
    height: 5em;
    color: #ddd;
}

.fa-battery-half, .fa-bluetooth-b{
float: right;
font-size: 1.2em;
padding-top: 0.4em;
}

.page-content{
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.title-one{
    min-width: 6em;
    max-height: 2em;
    height: 5em;
    background-color: darkgoldenrod;
    flex-grow: 2;
}
.title-two{
    max-height: 2em;
    min-width: 6em;
    height: 5em;
    background-color: darkred;
    flex-grow: 1;
}
.title-three{
    max-height: 2em;
    min-width: 6em;
    height: 5em;
    background-color: darkslateblue;
    flex-grow: 1;
}

.hamburger {
    font-size: 60px;
  
    display: inline-block;
  
    width: 1em;
    height: 1em;
    padding: 0;
  
    cursor: pointer;
    transition: transform .2s ease-in-out;
    vertical-align: middle;
  
    border: 0 none;
    background: transparent;
  }
  
  /**
   * Button height fix for Firefox
   */
  .hamburger::-moz-focus-inner {
    padding: 0;
    border: 0 none;
  }
  
  /**
   * Focus fix for Chrome
   */
  .hamburger:focus {
    outline: 0;
  }

  .hamburger:before,
.hamburger:after {
  content: "";
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;

  width: 100%;
  height: .2em;
  margin: 0 0 .2em;

  transition: transform .2s ease-in-out;

  border-radius: .05em;
  background: #596c7d;
}

/**
 * Styles for the active `.hamburger` icon
 */
.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: #2c3e50;
}

/**
 * CLOSE/CANCEL/CROSS
 */
 .hamburger.hamburger-cancel.active .icon {
    transform: scale(0);
  }
  
  .hamburger.hamburger-cancel.active:before {
    transform: translateY(.4em) rotate(135deg);
  }
  
  .hamburger.hamburger-cancel.active:after {
    transform: translateY(-.4em) rotate(-135deg);
  }  