body{
    display: flex;
    justify-content: center;
    align-items: center;
  height: 100vh;
  margin: 0;
}

h1{
    font-family: Helvetica;
    text-align: center;
}

.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 1.3em;
    padding: 0.3em;
    margin-top: 0.3em;
    width: 10em;
}

button{
    border-radius: 4px;
    padding: 0.3em;
    margin-top: 1em;
    font-size: 1.3em;
    background-color: crimson;
}

header{
    background-color: #ddd;
    width: 25em;
    height: 30em;
    padding-top: 2em;
}

a{
color: crimson;
}